<launch>

  <arg name="launch_prefix" default="" /> <!--set to value="gdbserver localhost:10000" for remote debugging-->
  <arg name="node_namespace" default="apriltag_ros_single_image_client_node" />
  <arg name="image_load_path" default="$(find tams_head_mesh)/data/shot_20210812/rgb/save_rgbdp_7.jpg"/> <!-- Where to load image for analysis from -->
  <arg name="image_save_path" default="$(find tams_head_mesh)/data/shot_20210812/result/result.jpg"/> <!-- Where to save tag detections image -->

  <node pkg="apriltag_ros" type="apriltag_ros_single_image_client_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >

    <param name="image_load_path" type="str" value="$(arg image_load_path)" />
    <param name="image_save_path" type="str" value="$(arg image_save_path)" />
    <rosparam command="load" file="$(find tams_head_mesh)/config/settings.yaml" />
    <rosparam command="load" file="$(find tams_head_mesh)/config/bundle_tags.yaml" />
    <!-- Camera intrinsic parameters -->
    <param name="fx" type="double" value="1737.940965446511" />
    <param name="fy" type="double" value="1740.481304274971" />
    <param name="cx" type="double" value="606.92101975902" />
    <param name="cy" type="double" value="507.44939123866686" />

  </node>

</launch>
